.nav-right {
  display: flex;
}
.nav-right * {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 30%;
}

.nav-right #log {
  color: #ffffff;
  font-weight: bold;
}
header {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #53486b;
}

.nav-links a {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 0px 20px;
}

.nav-links li a {
  transition: color 0.3s ease 0s;
}

.nav-links li a:hover,
.nav-right #log:hover {
  color: #ffff99;
}

.sign-up-btn {
  padding: 9px 25px;
  background-color: #89edfa;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #53486b;
  text-decoration: none;
}

.sign-up-btn:hover {
  background-color: #ffff99;
}
/* 
.form-signin {
  width: 370px;
  height: 350px;
  padding: 15px;
  margin: auto;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgba(255, 255, 255, 0.993);
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(255, 255, 255, 0.993);
} */

.loginbox {
  width: 450px;
  height: 400px;
  background: #c9efff;
  color: #53486b;
  padding: 20px;
  margin: auto;
  /* margin: 30% 0px 10% 2 0%; */
  /* margin-top: 15%;
  margin-left: 12%; */
  /* background-color: rgb(245, 245, 245); */

  /* top: 50%; */
  /* left: 50%; */
  /* position: absolute; */
  /* transform: translate(-50%, 50%); */
  box-sizing: border-box;
  border-radius: 10px;
}

.form-container #sub_log {
  background-color: #53486b;
  color: #ffffff;
}
.form-container * {
  padding: 20px;
}

/* 
.loginbox {

} */
